:root {

--colorTheme: rgb(4, 205, 219);


}

body{


    background: black;
}

#invisible-content {
    display: none; 
}

#visible-content {

display: block;
transition: all;
transition-duration: 3s;
transition-timing-function: ease-in-out;

}

header {
    width: 100%;
    height:100vh;
    display: flex;
   
  
}

.header-all {

    width: 80%
}


.my-name {


    color: var(--colorTheme);
}

#menu-container {

    width: 100%;
   
   background: black;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 5px;
    position: fixed;
    z-index: 1
   
  
 
}

.alert-no-name {



    display: none;
}

.alert-no-name span {

    animation-name: noName;
    animation-duration: 0.7s ;
    animation-timing-function: ease-in-out  ;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}






.lateral{
display: flex;
margin-right: 20px;




}
#menu-container img {

height: 25px;
margin-right: 10px;
transform: translateY(0.1px);

}



#menu-hamburguer{

display: flex;
flex-direction: column;
align-items: end;
justify-content: center;


}

#menu-hamburguer div {

width: 30px;
height: 2px;
background: rgb(255, 255, 255);
margin: 4px;

}

.header-content {

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
margin: auto;
width: 100%;



}



 

header input {

    width: 80%;
    border-radius: 5px;
    border-style:  none;

}
header button {
width: 55%;
border-radius: 20px;
animation-name: buttonStart;
animation-duration: 1.2s ;
animation-timing-function: ease-in-out  ;
animation-iteration-count: infinite;
animation-direction: alternate;

}

@keyframes buttonStart {
    from {
color: rgba(255, 255, 255, 0.3);
border: 1px solid rgba(255, 255, 255, 0.3);
    }

    to {
color:var(--colorTheme);
border: 1px solid var(--colorTheme);

    }


}

@keyframes nomeInicio {
    from {
color: white;
    }

    to {
color:var(--colorTheme);

    }


}


@keyframes noName {
    from {
color: white;
    }

    to {
color:transparent;

    }


}



/* #habilities {
  
  filter:contrast(20px);
animation-name: blurEffect;
animation-duration: 0.8s ;
animation-timing-function: ease-in-out  ;
animation-iteration-count: infinite;
animation-direction: alternate;





} */

/* @keyframes blurEffect {


from{filter: blur(0)}
to{filter: blur(7px)  }


} */


.habilities-container{


margin-left: 0.4%;



}



.about-me h1{

  
    margin-left: 3%;
    font-size: 1rem;
    filter: brightness(100%);
}


.about-me{


position: relative;
top: 52px;


}

#welcome {

    font-size: 1.2rem;
    margin-left: 20px;
}

#welcome span {


    animation-name: nomeInicio;
animation-duration: 1.2s ;
animation-timing-function: ease-in-out  ;
animation-iteration-count: infinite;
animation-direction: alternate;
}


.about-me img {

height: 15px;
transform: translateY(-20%);
margin-left: 3%

}